<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Diary Dash - Write notes efficiently</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="icon" href="favicon.svg">

        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <div>
                    <a class="navbar-brand nav-a" href="/">DIARY DASH</a>
                </div>
                <ul class="nav navbar-nav">
                    <!-- 6 -->
                    <li id="compose" class="nav-item"><a class="nav-link nav-a" href="/compose">COMPOSE</a></li>
                    <li id="about" class="nav-item"><a class="nav-link nav-a" href="/about">ABOUT</a></li>
                    <li id="contact" class="nav-item"><a class="nav-link nav-a" href="/contact">CONTACT US</a></li>
                </ul>  
            </div>
        </nav>

        <body>
            <div class="container">